{% extends "baseCart.html.twig" %}
{% block title %}<title>ProTECH | {{app.user.Nom }} {{app.user.Prenom }}</title> {% endblock %}
{% block body %}
                <!-- Begin Mobile Menu Area -->
                <div class="mobile-menu-area d-lg-none d-xl-none col-12">
                    <div class="container"> 
                        <div class="row">
                            <div class="mobile-menu">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu Area End Here -->
            </header>
            <!-- Header Area End Here -->
            <!-- Begin Li's Breadcrumb Area -->
            {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
       
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="{{path('home')}}">Home</a></li>
                            <li class="active">Account</li>
                           </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Login Content Area -->
                    <div class="page-section mb-60">
                        <div class="container">
                            <div class="row">   
                                <div class="login-form">
                                    <h4 class="login-title">Confirm User</h4>
                                    <form method="POST">
                                        <div class="row">
                                            <div class="col-md-8 col-12 mb-10">
                                                <label for="question1">What is the name of the town where you were born?</label>
                                                <input type="text" class="mb-0" id="question1" name="question1">     
                                            </div>
                                            <div class="col-md-8 col-12 mb-10">
                                                    <label for="question2">Where was your best family vacation as a kid?</label>
                                                    <input type="text" class="mb-0" id="question2" name="question2">     
                                             </div>
                                        </div>
                                        <div>
                                            <button class="register-button mt-0" type="submit">Confirm</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            <!-- Login Content Area End Here -->
         {% endblock %}